<div fxLayout="column" class="menu-bar" fxFlex>
    <md-toolbar color="primary">
        <button kendoButton class="btn-nav" [icon]="'menu'" (click)="toggleNoteList()"></button>
        <span class="branding">Traveller</span>
        <span class="spacer"></span>
        <button kendoButton class="btn-menu" [icon]="'more-vertical'" md-icon-button [mdMenuTriggerFor]="menu">
      
    </button>
    </md-toolbar>
    <md-menu #menu x-position="before">
        <!--<button kendoButton md-menu-item (click)="showProfile()" [icon]="'user'">My Profile</button>-->
        <button kendoButton md-menu-item (click)="logOut()" [icon]="'lock'">Logout</button>
    </md-menu>
</div>