.sebm-google-map-container {
    height: calc(100vh - 64px);
    width: 100vw;
}

.locate-me-button {
    background-color: rgba(255, 255, 255, 1);
    border: none;
    user-select: none;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    display: block;
    position: fixed;
    right: 10px;
    bottom: 125px;
    width: 28px;
    height: 28px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.16s ease-out;
    .locate-me-icon {
        background-image: url('../../../assets/images/mylocation-sprite.png');
        background-position: 0 0;
        background-size: 180px 18px;
        display: block;
        height: 18px;
        left: 6px;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 6px;
        width: 18px;
    }
}

.search-box {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
    position: absolute;
    top: 70px;
    right: 20px;
    z-index: 999;
    width: 30%;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
    transition-property: background, box-shadow;
    transition-duration: 0.3s;
    input {
        width: 85%;
        outline: none;
        user-select: none;
        border: none;
        font-size: 1em;
        padding: 15px;
    }
}