<agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)" [scrollwheel]="false" [zoom]="zoom">
  <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m, i)" [latitude]="m.lat"
  [longitude]="m.lng" [markerDraggable]="false" [openInfoWindow]="m.isOpen">
    <agm-info-window [isOpen]="m.isOpen" [class]="info-window" (infoWindowClose)="infoWindowClose(i)">
      <input type="text" id="userRemarks" [(ngModel)]="m.message" required/>
      <button kendoButton [icon]="'check'" (click)="saveNote(i)"></button>
      <input type="checkbox" [(ngModel)]="m.isPublic" />
    </agm-info-window>
  </agm-marker>
</agm-map>
<button type="button" (click)="setCurrentPosition()"></button>
