.card {
    width: 20%;
    min-width: 240px;
    background-color: yellow;
    margin: 0 auto;
    padding: 48px 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}