html,
body,
a,
img,
li,
ul,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
section,
header,
aside,
p,
main,
input {
    margin: 0;
    padding: 0;
}

section,
header,
footer,
aside,
nav,
main {
    display: block;
}